@charset "UTF-8";
:root{
    /* Transition
  -------------------------- */
    /* Colors
  -------------------------- */
    /* Link
  -------------------------- */
    /* Border
  -------------------------- */
    /* Box-shadow
  -------------------------- */
    /* Fill
  -------------------------- */
    /* Font
  -------------------------- */
    /* Size
  -------------------------- */
    /* z-index
  -------------------------- */
    /* Disable base
  -------------------------- */
    /* Icon
  -------------------------- */
    /* Checkbox
  -------------------------- */
    /* Radio
  -------------------------- */
    /* Select
  -------------------------- */
    /* Alert
  -------------------------- */
    /* Message Box
  -------------------------- */
    /* Message
  -------------------------- */
    /* Notification
  -------------------------- */
    /* Input
  -------------------------- */
    /* Cascader
  -------------------------- */
    /* Group
  -------------------------- */
    /* Tab
  -------------------------- */
    /* Button
  -------------------------- */
    /* cascader
  -------------------------- */
    /* Switch
 -------------------------- */
    /* Dialog
 -------------------------- */
    /* Table
 -------------------------- */
    /* Pagination
 -------------------------- */
    /* Popover
 -------------------------- */
    /* Tooltip
  -------------------------- */
    /* Tag
  -------------------------- */
    /* Dropdown
  -------------------------- */
    /* Badge
  -------------------------- */
    /* Card
  --------------------------*/
    /* Slider
  --------------------------*/
    /* Steps
  --------------------------*/
    /* Menu
  --------------------------*/
    /* Rate
  --------------------------*/
    /* DatePicker
  --------------------------*/
    /* Loading
  --------------------------*/
    /* Scrollbar
  --------------------------*/
    /* Carousel
  --------------------------*/
    /* Collapse
  --------------------------*/
}

.el-checkbox{
    color: rgb(61, 50, 31);
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none
}

.el-checkbox + .el-checkbox{
    margin-left: 15px
}

.el-checkbox__input{
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle
}

.el-checkbox__input.is-indeterminate .el-checkbox__inner{
    background-color: #c6914f;
    border-color: rgb(249, 137, 1)
}

.el-checkbox__input.is-indeterminate .el-checkbox__inner::before{
    content: '';
    position: absolute;
    display: block;
    border: 1px solid #fff;
    margin-top: -1px;
    left: 3px;
    right: 3px;
    top: 50%
}

.el-checkbox__input.is-indeterminate .el-checkbox__inner::after{
    display: none
}

.el-checkbox__input.is-focus .el-checkbox__inner{
    border-color: #c6914f;
}

.el-checkbox__input.is-checked .el-checkbox__inner{
    background-color: #c6914f;
    border-color: rgb(249, 137, 1)
}

.el-checkbox__input.is-checked .el-checkbox__inner::after{
    transform: rotate(45deg) scaleY(1)
}

.el-checkbox__input.is-disabled .el-checkbox__inner{
    background-color: rgb(246, 244, 238);
    border-color: rgb(229, 222, 209);
    cursor: not-allowed
}

.el-checkbox__input.is-disabled .el-checkbox__inner::after{
    cursor: not-allowed;
    border-color: rgb(246, 244, 238)
}

.el-checkbox__input.is-disabled .el-checkbox__inner + .el-checkbox__label{
    cursor: not-allowed
}

.el-checkbox__input.is-disabled.is-checked .el-checkbox__inner{
    background-color: rgb(229, 222, 209);
    border-color: rgb(229, 222, 209)
}

.el-checkbox__input.is-disabled.is-checked .el-checkbox__inner::after{
    border-color: #fff
}

.el-checkbox__input.is-disabled.is-indeterminate .el-checkbox__inner{
    background-color: rgb(229, 222, 209);
    border-color: rgb(229, 222, 209)
}

.el-checkbox__input.is-disabled.is-indeterminate .el-checkbox__inner::before{
    border-color: #fff
}

.el-checkbox__input.is-disabled + .el-checkbox__label{
    color: #bbb;
    cursor: not-allowed
}

.el-checkbox__inner{
    display: inline-block;
    position: relative;
    border: 1px solid rgb(217, 208, 191);
    border-radius: 4px;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    background-color: #fff;
    z-index: 1;
    transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),
                  background-color .25s cubic-bezier(.71,-.46,.29,1.46)
}

.el-checkbox__inner:hover{
    border-color: #c6914f
}

.el-checkbox__inner::after{
    box-sizing: content-box;
    content: "";
    border: 2px solid #fff;
    border-left: 0;
    border-top: 0;
    height: 8px;
    left: 5px;
    position: absolute;
    top: 1px;
    transform: rotate(45deg) scaleY(0);
    width: 4px;
    transition: transform .15s cubic-bezier(.71,-.46,.88,.6) .05s;
    transform-origin: center
}

.el-checkbox__original{
    opacity: 0;
    outline: none;
    position: absolute;
    margin: 0;
    visibility: hidden;
    left: -999px
}

.el-checkbox__label{
    font-size: 14px;
    padding-left: 5px
}
:root{
    /* Transition
  -------------------------- */
    /* Colors
  -------------------------- */
    /* Link
  -------------------------- */
    /* Border
  -------------------------- */
    /* Box-shadow
  -------------------------- */
    /* Fill
  -------------------------- */
    /* Font
  -------------------------- */
    /* Size
  -------------------------- */
    /* z-index
  -------------------------- */
    /* Disable base
  -------------------------- */
    /* Icon
  -------------------------- */
    /* Checkbox
  -------------------------- */
    /* Radio
  -------------------------- */
    /* Select
  -------------------------- */
    /* Alert
  -------------------------- */
    /* Message Box
  -------------------------- */
    /* Message
  -------------------------- */
    /* Notification
  -------------------------- */
    /* Input
  -------------------------- */
    /* Cascader
  -------------------------- */
    /* Group
  -------------------------- */
    /* Tab
  -------------------------- */
    /* Button
  -------------------------- */
    /* cascader
  -------------------------- */
    /* Switch
 -------------------------- */
    /* Dialog
 -------------------------- */
    /* Table
 -------------------------- */
    /* Pagination
 -------------------------- */
    /* Popover
 -------------------------- */
    /* Tooltip
  -------------------------- */
    /* Tag
  -------------------------- */
    /* Dropdown
  -------------------------- */
    /* Badge
  -------------------------- */
    /* Card
  --------------------------*/
    /* Slider
  --------------------------*/
    /* Steps
  --------------------------*/
    /* Menu
  --------------------------*/
    /* Rate
  --------------------------*/
    /* DatePicker
  --------------------------*/
    /* Loading
  --------------------------*/
    /* Scrollbar
  --------------------------*/
    /* Carousel
  --------------------------*/
    /* Collapse
  --------------------------*/
}